header {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  border-bottom: 7px solid orange;
  background-color: red;
}

footer{
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  border-top: 7px solid orange;
  background-color: red;
}

.partial {
  border: 1px solid red;
  padding: 15px;
}


table th {
  background-color: #fbc25b;
  padding: 10px 20px;
  border: solid 1px black;
}

table td {
  background-color: #f9ecd5;
  padding: 10px 20px;
  text-align: center;
  border: solid 1px black;
}

.notice {
  background-color: #ccf;
  padding: 5px;
}

.posts-content {
  width: 350px;
  height: 200px;
}

input, pre {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.form-control {
  width: 350px;
  height: 200px;
  font-size: 16px;
}

input[type="submit"] {
  width: auto;
}
